127.0.0.1:443 {
    import tls.caddy

    log stdout
    errors stdout

    proxy / https://127.0.0.1:4242 {
        insecure_skip_verify
    }
}

127.0.0.1:81 {
    import tls.caddy

    log stdout
    errors stdout

    proxy / http://127.0.0.1:4242 {
        transparent
        insecure_skip_verify
    }
}

127.0.0.1:82 {
    import tls.caddy

    log stdout
    errors stdout

    proxy / http://127.0.0.1:4242 {
        websocket
        insecure_skip_verify
    }
}

127.0.0.1:83 {
    import tls.caddy

    log stdout
    errors stdout

    proxy / http://127.0.0.1:4242 {
        transparent
        websocket
        insecure_skip_verify
    }
}
